{% extends 'base.html' %}
{% block title %}Content{% endblock %}
{% block header %}
  {% if g.user %}
    <header>
      <section class="hero">
        <div class="hero-body">
          <p class="title">
            Content
          </p>
          <p class="subtitle">
            Listing
          </p>
        </div>
      </section>
    </header>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="level-right">
    <a class="button is-light" href="{{ url_for('search.create') }}">New</a>
  </div>
  {% for post in posts %}
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ post['title'] }}</p>
            <p class="subtitle is-6">
            {% if g.user['id'] == post['author_id'] %}
              <a class="action" href="{{ url_for('search.update', id=post['id']) }}">Edit</a>
            {% endif %}
            </p>
          </div>
        </div>

        <div class="content">
          {{ post['body'] }}
          <br/>
          <br/>
          updated at <time datetime="2016-1-1">{{ post['updated_at'].strftime('%Y-%m-%d %H:%M:%S') }}</time>
        </div>
      </div>
    </div>
  {% endfor %}

  {% if posts|length > 0 %}
  <form method="post" action="{{ url_for('search.train') }}">
    {% if posts|length == 1 %}
      <button class="button is-info" type="submit">Train</button>
    {% else %}
      <button class="button is-info" type="submit">Train All</button>
    {% endif %}
  </form>
  {% endif %}
{% endblock %}
