{% extends 'base.html' %}
{% block title %}Query {% endblock %}
{% block header %}
<header>
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        Query
      </p>
    </div>
  </section>
</header>
{% endblock %}

{% block content %}
<div data-controller="query" data-query-loading-class="is-loading">
  <form method="post" data-query-target="form">
    <div class="field">
      <label class="label">Ask your question</label>
      <div class="control">
        <input class="input" type="text" name="query" id="query" value="{{ request.form['query'] or query }}" required>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button data-action="query#submit" type="submit" class="button is-link">Ask</button>
      </div>
      <div class="control">
        <a data-query-target="cancelbtn" href="{{ url_for('search.index') }}" class="button is-link is-light">Cancel</a>
      </div>
    </div>
  </form>

  {% if answer is not none %}
  <hr />
  <h2>Answer</h2>
  <p class="answer">
    {{ answer }}
  </p>
  {% endif %}
</div>
{% endblock %}
