{% extends 'base.html' %}
{% block title %}Edit "{{ post['title'] }}"{% endblock %}
{% block header %}
<header>
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        Content
      </p>
      <p class="subtitle">
        Edit
      </p>
    </div>
  </section>
</header>
{% endblock %}

{% block content %}
<div data-controller="update" data-update-loading-class="is-loading">
  <form method="post" data-update-target="form">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input class="input" type="text" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Body</label>
      <div class="control">
        <textarea class="textarea" name="body" id="body" required>{{ request.form['body'] or post['body'] }}</textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button data-action="update#submit" type="submit" class="button is-link">Submit</button>
      </div>
      <div class="control">
        <a data-update-target="cancelbtn" href="{{ url_for('search.index') }}" class="button is-link is-light">Cancel</a>
      </div>
    </div>
  </form>
  <hr>
  <form action="{{ url_for('search.delete', id=post['id']) }}" method="post">
    <div class="level-right">
      <button class="button is-danger" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
    </div>
  </form>
</div>

<script type="module">
  import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js";
  window.Stimulus = Application.start();
  Stimulus.register("update", class extends Controller {
    static classes = [ "loading" ];
    static targets = [ "form", "cancelbtn" ];

    submit(e) {
      e.preventDefault();
      e.target.classList.add(this.loadingClass);
      this.cancelbtnTarget.setAttribute("disabled", "disabled");
      this.cancelbtnTarget.setAttribute("href", "#");
      this.formTarget.submit();
    }
  })
</script>
{% endblock %}
